<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>OAuth Authorization</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>

<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">
            <div class="media">
                <a href=<%=client.websiteClient %>>
                    <img class="media-object" src="https://prello14oauth2.igpolytech.fr/prellobleu.png" alt="Prello's Logo">
                </a>
            </div>
            <p>
                By logging in, you'll allow
                <b>
                    <%= client.nameClient %>
                </b>
                to:
            </p>

            <ul class="list-group">
                <li class="list-group-item"><b>Access</b> to your personnal information </li>
                <li class="list-group-item"><b>Access</b> to every board, card and team linked to your profile</li>
                <li class="list-group-item"><b>Create</b> boards, cards and teams</li>
            </ul>

            <p>
                <%= client.nameClient %>:
                <%= client.descriptionClient %>
            </p>

            <hr>

            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- LOGIN FORM -->
            <form action="/oauth/authorize?client_id=<%= client.id %>&response_type=<%= response_type %>&state=<%= state %>&redirect_uri=<%= redirect_uri %>"
                method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

        </div>

    </div>
</body>

</html>